#list-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post {
    width: 24%;
    min-height: 100px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px grey;
}